<%= form_for(@cute) do |f| %>
  <% if @cute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cute.errors.count, "error") %> prohibited this cute from being saved:</h2>

      <ul>
      <% @cute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :media_type %> (Is this an 'image'? A 'video'?)<br />
    <%= f.text_field :media_type %>
  </div>
  <div class="field">
    <%= f.label :description %> (as in, "an image of ____")<br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :number %> (How many cute things are there?)<br />
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
