<%= form_for(@cute) do |f| %>
  <% if @cute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cute.errors.count, "error") %> prohibited this cute from being saved:</h2>

      <ul>
      <% @cute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span4">
  <dl>
    <dd><%= f.label :url %></dd>
    <dt><%= f.text_field :url %></dt>
    
    <dd><%= f.label :media_type %> (Is this an 'image'? A 'video'?)</dd>
    <dt><%= f.text_field :media_type %></dt>
    
    <dd><%= f.label :number %> (How many cute things are there?)</dd>
    <dt><%= f.number_field :number %></dt>
  </dl>
  </div>
  <div class="span4">
  <dl>
    <dd><%= f.label :description %> (as in, "an image of ____")</dd>
    <dt><%= f.text_area :description, :size => "10x5" %></dt>

  <div class="actions">
    <%= f.submit %>
  </div>
  </dl>
  </div>
  <div class="span4">
    <p>Please make sure that the submitted thing is really cute! Also, there is no screening
      mechanism at this point, so please don't misuse it.</p>
  </div>
  </div>
<% end %>
