<p class="new-thought"><%= link_to 'New Thought', new_thought_path, class: "btn" %></p>
<h1>Listing thoughts (<%= current_user.email %>)</h1>
<div class="row">
<% i = 0
   @thoughts.each do |thought| %>
  <div class="span4">
    <div class="thought">
    <p class="date"><%= thought.date.strftime("%d %b %Y, %H:%M") %> (<%= link_to 'Edit', edit_thought_path(thought) %> | <%= link_to 'Destroy', thought, confirm: 'Are you sure?', method: :delete %>)</p>
    <p class="atd"><%= thought.body %></p>
    </div>
  </div>
  <% if i % 3 == 2 %>
  </div><div class="row"> <!-- end row -->
  <% end %>
  <% i += 1 %>
<% end %>
</div>
